.todoItem {
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: 20px;
	padding: 15px;
	margin: 15px 0px;
	box-shadow: 0px 0px 3px rgb(0 0 0 / 16%);
	border-radius: 8px;
}
.todoItem-icon {
	color: #e9e3ff;
	font-size: 32px;
	transition: 0.4s ease-in-out;
}

.todoItem-icon__active {
	color: #2000a1;
}
.todoItem-text {
	margin-right: 20px;
	font-size: 16px;
	color: #5a5a5a;
}
.todoItem-text__completed {
	text-decoration: line-through;
}
.todoItem-delete {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 16px;
	color: #d6d6d6;
}
.todoItem-delete:hover {
	color: rgb(176, 0, 0);
}
